<h2>Ajouter une suggestion</h2>

<form (ngSubmit)="saveSuggestion()">

  <input
    type="text"
    placeholder="Titre"
    [(ngModel)]="suggestion.title"
    name="title"
    required
  >

  <br><br>

  <textarea
    placeholder="Description"
    [(ngModel)]="suggestion.description"
    name="description"
    required
  ></textarea>

  <br><br>

  <input
    type="text"
    placeholder="Catégorie"
    [(ngModel)]="suggestion.category"
    name="category"
    required
  >

  <br><br>

  <button type="submit">
  Save
</button>
  

</form>